* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.hide {
  display: none;
}

/* Welcome Page */
.welcome-container {
  position: relative;
  background-color: var(--primary-bg-color);
  background-image: url("/src/assets/img/bg-image-2.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.welcome-content > h1 {
  font-family: "Permanent Marker", cursive;
  text-shadow: 4px 2px 4px #000000;
  font-size: 8rem;
  color: var(--other-font-color);
  z-index: 1;
}

.action-btn {
  width: 20%;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 15px;
  background-color: var(--primary-btn-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 1;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: var(--primary-bg-color);
  opacity: 0.7;
  position: absolute;
}

/* Main Game Screen - Home */
.main-header {
  font-family: "Permanent Marker", cursive;
  word-spacing: 10px;
  background-color: var(--other-bg-color);
  color: var(--primary-font-color);
  text-align: center;
  width: 100%;
}

.game-screen {
  background-color: var(--primary-bg-color);
  height: calc(100vh - 5vh);
  position: absolute;
  width: 100%;
}

.left-panel {
  align-items: center;
  justify-items: center;
}

.currency {
  grid-gap: 10px;
}

.currency > div > button {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: -5px -3px 10px var(--primary-font-color),
    3px 3px 5px rgba(94, 104, 121, 0.288);
}

.center-panel,
.right-panel {
  justify-content: center;
}

.right-panel {
  background-color: var(--secondary-bg-color);
  border-radius: 30px;
  margin: 10px;
  height: 90vh;
  font-size: 3;
}

.right-panel > p,
.right-panel > h2 {
  font-size: 2rem;
}

.right-panel > div > p {
  font-size: 1.5rem;
}

.center-panel {
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
}

.center-panel > button {
  width: 100px;
  height: 100px;
  font-size: 1.2rem;
}

.right-panel {
  padding: 20px;
}

.right-panel p {
  padding: 10px 0;
}

.right-panel > p {
  align-self: end;
}

.action-btns {
  justify-items: center;
}

.action-btns > button {
  padding: 25px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 75%;
  font-size: 2rem;
}

.action-btns > button:hover {
  background: var(--primary-font-color);
  color: var(--secondary-font-color);
}

/* MODAL */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  background-color: rgba(158, 158, 158, 0.5);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.modal-container {
  width: 800px;
  margin: 0 auto;
  background-color: var(--primary-bg-color);
  color: var(--secondary-font-color);
}

.modal-header {
  background-color: var(--other-bg-color);
  color: var(--primary-font-color);
  padding: 1rem;
}

.modal-content {
  padding: 1rem;
}

.form-wrapper {
  max-width: 400px;
  width: 100%;
}

.form-wrapper > div {
  width: 100%;
  padding: 1rem 0;
}

.input-field > label {
  width: 170px;
  display: inline-block;
}

.input-field > div {
  padding: 0.5rem;
  display: inline-block;
}

.input {
  padding: 0.5rem;
}

#clear-num-pad {
  background-color: var(--primary-highlight-color);
  color: var(--secondary-font-color);
}

.check-out-btns {
  width: 400px;
  justify-items: center;
}

.check-out-btns > div {
  width: 100%x;
  padding: 30px;
}

.check-out-btns > div > button {
  width: 100px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--primary-font-color);
}
