:root {
  --primary-bg-color: #3db2ff;
  --secondary-bg-color: #ffedda;
  --other-bg-color: #ffb830;

  --primary-font-color: #11144c;
  --secondary-font-color: #ffffff;
  --other-font-color: #ffb830;

  --primary-btn-color: #ffffff;

  --primary-highlight-color: #ff2442;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-row-2 {
  grid-template-rows: 1fr 1fr;
}

.grid-row-3 {
  grid-template-rows: 5vh 1fr 1fr;
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-row-1 {
  grid-template-rows: 1fr;
}

.grid-row-5 {
  grid-template-rows: repeat(5, 1fr);
}

/* MODAL GRIDS */
.grid-col-2-modal {
  grid-template-columns: 2fr 1fr;
}

.grid-col-3-modal {
  grid-template-columns: repeat(3, 1fr);
}
